ipfs_datasets@git+https://github.com/endomorphosis/ipfs_datasets.git
orbitdb_kit@git+https://github.com/endomorphosis/orbitdb_kit.git
ipfs_kit@git+https://github.com/endomorphosis/ipfs_kit.git
transformers
torch
torchvision
numpy
torchtext
urllib3
requests
boto3