* , *:before, *:after{ 
	box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	-ms-box-sizing:border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Roboto', sans-serif;
	background-color: #e9e8eb;
}

.header{
	background-color: #51b8bc;
	color: #fff;
	padding: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .logo{
	font-size: 24px;
}


.top-bar{
	width: 90%;
	height: 64px;
	margin-top: 32px;
	margin-left: auto;
	margin-right: auto;
	background-color: #51b8bc;
	color: #fff;
	padding-left: 12px;
	padding-right: 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media screen and (max-width: 960px){
		width: 100%;
	}

	@media screen and (max-width: 767px){
		width: 100%;
		font-size: 12pt;
		margin-top: 12px;
	}
}


.search{
	width: 50%;
	min-width: 200px;
	max-width: 500px;
	height: 32px;
	border-radius: 100px;
	text-align: center;
	border: none;
	font-size: 12pt;
}

.search:focus{
	outline: none;
}


.content{
	width: 90%;
	height: 85vh;
	margin-left: auto;
	margin-right: auto;
	overflow: scroll;
	display: flex;
	justify-content: space-between;
	scrollbar-width: none;

	@media screen and (max-width: 960px){
		width: 100%;
	}
}

.model-list{
	width: 100%;
}

.model-name{
	width: 33%;
	margin-right: auto;
	margin-left: 32px;
	margin-top: auto;
	margin-bottom: auto;
}

.codeblock{
	margin: auto;
	display: flex;
	white-space: pre-wrap;
	font-family: monospace;
	background-color: #e9e9eb;
	border-radius: 100px;
	padding: 8px;
	color:#333;
	height: 32px;
	cursor: pointer;

	@media screen and (max-width: 767px){
		overflow: hidden;
		width: 120px;
		margin-top: 20px;
	}
}

.codeblock i{
	@media screen and (max-width: 767px){
		margin-left: 120px;
	}
}

.codeblock:hover i{
	color:#bc5551;
}

.toast{
	width: 200px;
	position: absolute;
	bottom: 12px;
	right:0;
	left:0;
	margin-left: auto;
	margin-right: auto;
	background-color: #51b8bc;
	color: #fff;
	padding: 12px;
	border-radius: 12px;
	text-align: center;
	opacity: 0;
	transition: opacity 0.5s;
}

.toast.active{
	opacity: 1;
	transition: opacity 0.5s;
}

.model-card{
	color:#4b465c;
	width:100%;
	height: 64px;
	background-color: #fff;
	border-radius: 0px;
	margin-top: 12px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	overflow: hidden;
	transition: height 0.5s;

	box-shadow: -1px 9px 21px -10px rgba(0,0,0,0.31);
	-webkit-box-shadow: -1px 9px 21px -10px rgba(0,0,0,0.31);
	-moz-box-shadow: -1px 9px 21px -10px rgba(0,0,0,0.31);

	@media screen and (max-width: 767px){
		height: 80px;
	}

}

.model-card h2{
	@media screen and (max-width: 767px){
		font-size: 12pt;
		margin-top: 12px;
		margin-left: 12px;
		margin-bottom: 50px;
	}
}

.model-card i{
	color: #4b465c;
}

.model-card i:hover{
	color: #bc5551;
}

.model-card.active{
	/* change height to fit the model details */
	height: 500px;
	transition: height 0.5s;

	@media screen and (max-width: 767px){
		height: 600px;
	}
}

.model-card button{
	font-size: larger;
	width: 64px;
	height: 64px;
	background: none;
	border: none;
	cursor: pointer;
	transition: rotate 0.5s;

	@media screen and (max-width: 767px){
		margin-top: 12px;
	}
}

.model-card.active button{
	font-size: larger;
	width: 64px;
	height: 64px;
	background: none;
	border: none;
	cursor: pointer;
	rotate: 180deg;
	transition: rotate 0.5s;
}

.model-details{
	width: 98%;
	margin: auto;
	padding-top: 12px;
	border-top: 2px solid #7a7a7a;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	/* adds margin to the bottom of the model details so it doesn't size the top of the model card  margin is hidden by overflow hidden */
	margin-bottom: 100px;


	@media screen and (max-width: 767px){
		padding: 12px;
		margin-bottom: 20px;
	}
}

.source{
	width: 100%;
	margin-bottom: 16px;
	font-weight: 500;
}

.source a {
	color: #4b465c;
	text-decoration: none;
	cursor: pointer;
}

.source a:hover{
	color: #bc5551;
}


.hw-reqs{
	margin-right: 50px;
	width: 40%;

	@media screen and (max-width: 767px){
		width: 49%;
		margin-right: 6px;
	}
}

.hw-reqs h3{
	margin-bottom: 12px;
}

.hw-reqs ul{
	
	list-style-type: none;
}

.hw-reqs ul li{
	margin-bottom: 12px;
	background-color: #e9e8eb;
	padding-left: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 500;
}

.metadata{
	width: 40%;

	@media screen and (max-width: 767px){
		width: 49%;
		margin-top: 21px;
	}
}

.metadata h3{
	margin-bottom: 12px;
}

.metadata ul{

	list-style-type: none;
}

.metadata ul li{
	margin-bottom: 12px;
	background-color: #e9e8eb;
	padding-left: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 500;
}


.loader {
	align-self: center;
	margin-left: auto;
	margin-right: auto;
	width: 64px;
	height: 64px;
	border: 8px solid;
	border-color: #51b8bc transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  } 