[Unit]
Description=IPFS Cluster Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/ipfs-cluster-service daemon
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
